.Project {
    padding: 5vh 5vw;
}

.Main {
    position: relative;

    width: 95%;
    max-width: 800px;
    margin: auto;
}

.ProjectHeader {
    text-align: center;
    color: #0066FF;
    margin-bottom: 5vh;
}

.LinkList {
    list-style: none;
    padding-inline-start: 0;
}

.LinkList li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.LinkList img {
    margin-right: 20px;
}

.LinkList a {
    color: #0066FF;
}

.TextSection {
    margin: 6vh 0;
}

.TextSection h3 {
    color: #0066FF;
}

.SubSection {
    width: 50%;
    display: inline-block;
}

.SubSection h3 {
    color: #0066FF;
}

.Contributor {
    width: 40px;
}

.TechnologiesBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.TechnologiesBox img {
    
}

.GifsSection {
    padding: 8vh 0;
    width: 95%;
    max-width: 800px;
    margin: auto;
}

.GifsSection img {
    width: 100%;
    margin: 3vh 0;
    display: none;
}

.GifsSection h3 {
    color: #0066FF;
}

.NodeBox {
    display: flex;
    justify-content: center;
}

.Node {
    width: 11px;
    height: 11px;
    background-color: #313131;
    opacity: .5;
    border-radius: 2rem;
    transition: .2s ease;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .SubSection {
        width: 100%;
        display: inline-block;
        margin: 3vh 0;
    }

    .ProjectHeader {
        text-align: start;
    }
    
    .TechnologiesBox {
        width: 100%;
    }

    .GifsSection {
        display: none;
    }
}