body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #313131;
}

img {
    user-select: none;
}

mark {
    background-color: transparent;
    color: #0066FF;
}

.HeroSection {
    min-height: calc(100vh - 80px);
    overflow: auto;
    position: relative;
    overflow: hidden;
    padding: 0 8vw 300px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

}

.HeroTextBox {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.HeroTextBox h1 {
    font-size: 80px;
    text-align: center;
}

.HeroTextBox p {
    font-size: 18px;
    text-align: center;
}

.HeroButtonsBox {
    width: 90%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}   

.HeroButtonsBox button {
    width: 210px;
    height: 42px;
    font-family: "Montserrat", "sans-serif";
    border-radius: 5rem;
    font-size: 1.1rem;
    outline: none;
} 

.MainHeaderButton {
    border: none;
    color: white;
    background-color: #0066FF;
    transition: background-color .2s ease;
}

.MainHeaderButton:hover {
    background-color: rgb(0, 96, 240);
}

.SecondaryHeaderButton {
    border: 2px solid #0066FF;
    color: #0066FF;
    background-color: transparent;
    font-weight: 500;
}

.SecondaryHeaderButton:hover {
    border: 2px solid rgb(0, 78, 194);
    color: rgb(0, 78, 194);
}

.HeroSection img {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    max-width: 300px;
}

.MeSection {
    background-color: #0066FF;
    color: white;
    overflow: auto;
    padding: 8vh 8vw;
}

.MeSection h1 {
    text-align: center;
}

.MePairBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 15px;
}

.MePairBox img {
    margin-right: 40px;
}

.SkillsSection {
    padding: 0 8vw;
    position: relative;
    overflow: hidden;
    min-height: 600px;
}

.SkillsSection h1 {
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 60px;
}

.WavesImage {
    min-width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -1px;
}

.SkillsBox {
    background-color: white;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 1rem;
    position: relative;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
}

.SkillBox {
    margin: 3vh 0;
    display: flex;
    justify-content: start;
}

.SkillImage {
    width: 200px;
}

.SkillBox div {
    margin-left: 30px;
    min-width: 250px;
}

.ProjectsSection {
    padding: 12vh 8vw;
}

.ProjectsSection h1 {
    text-align: center;
    color: #0066FF;
    padding-bottom: 3vh;
}

.ProjectsBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ProjectBox {
    background-color: white;
    width: 22vw;
    height: 16vw;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
    margin: 3vh 0;
    border-radius: 1rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    bottom: 0;
    transition: bottom 0.2s ease;
}

.ProjectBox:hover {
    bottom: 3px;
}

.ProjectBox img {
    height: 100%;
    transition: opacity 0.1s ease;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%)
}

.ProjectBox:hover img {
    opacity: .1;
    transition: opacity 0.1s ease;
}

.ProjectBox h2 {
    text-align: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease;
    margin-bottom: 4vh;
}

.ProjectBox p {
    text-align: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.ProjectBox a {
    opacity: 0;
    transition: opacity 0.1s ease;
    position: relative;
}

.ProjectBox button {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: white;
    height: 42px;
    font-family: "Montserrat", "sans-serif";
    border-radius: 5rem;
    font-size: 1.1rem;
    outline: none;
    border: 2px solid #0066FF;
    color: #0066FF;
    background-color: transparent;
    font-weight: 500;
    align-self: baseline;
}

.ProjectBox button:hover {
    border: 2px solid rgb(0, 78, 194);
    color: rgb(0, 78, 194);
}

.ProjectBox:hover h2 {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.ProjectBox:hover p {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.ProjectBox:hover a {
    opacity: 1;
    transition: opacity 0.1s ease;
}

@media (max-width: 1200px) {
    .ProjectBox {
        width: 36vw;
        height: 26vw;
    }
}

@media (max-width: 768px) {
    .HeroButtonsBox {
        flex-direction: column;
        width: 100%;
    }
    .HeroButtonsBox button {
        width: 100%;
        margin: 15px 0;
    }

    .HeroTextBox h1 {
        text-align: start;
    }
    
    .HeroTextBox p {
        text-align: start;
    }

    .MePairBox {
        flex-direction: column;
    }
    
    .MePairBox img {
        margin: 10px;
    }
    
    .MePairBox p {
        text-align: center;
    }

    .SkillBox {
        flex-direction: column;
        align-items: center;
    }

    .SkillBox div {
        text-align: center;
        margin: 3vh 0;
    }

    .ProjectBox {
        width: calc(100vw - 16vw);
        height: 60vw;
    }
}